

.round{
  width:20px;
  height:20px;
  border-radius:50%;
  position:relative;
  background:red;
  display:inline-block;
  padding:0.3rem 0.2rem !important;
  margin:0.3rem 0.2rem !important;
  left:-18px;
  top:10px;
  z-index: 99 !important;
}
.round > span {
  color:rgb(255, 255, 255);
  display:block;
  text-align:center;
  font-size:1rem !important;
  padding:0 !important;
}
#list{
 
  display: none;
  top: 33px;
  position: absolute;
  right: 2%;
  background:#ffffff;
z-index:100 !important;
width: 25vw;
margin-left: -37px;

padding:0 !important;
margin:0 auto !important;

  
}
.message > span {
   width:100%;
   display:block;
   color:red;
   text-align:justify;
   margin:0.2rem 0.3rem !important;
   padding:0.3rem !important;
   line-height:1rem !important;
   font-weight:bold;
   border-bottom:1px solid #ffffff;
   font-size:1.8rem !important;

}
.message{
  /* background:#ff7f50;
  margin:0.3rem 0.2rem !important;
  padding:0.2rem 0 !important;
  width:100%;
  display:block; */
  
}
.message > .msg {
   width:90%;
   margin:0.2rem 0.3rem !important;
   padding:0.2rem 0.2rem !important;
   text-align:justify;
   font-weight:bold;
   display:block;
   word-wrap: break-word;
 
  
}

