
.section {
    display: flex;
    flex-direction: column;
 
    height: 97vh;
    align-items: center;

}

.sujet {
    max-width: 61%;
    max-height: 15%;
 
    text-align: center;
   
}



.image {
    width: 100%;
    height: 59%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 73%;
    height: 97%;
  
}

.info {
 
    max-height: 28%;
}

.info {
    font-size: 1.8em;
    padding: 2% 2% 2% 2%;
   
}